{% extends "base.html" %}

{% block content %}
<h2>Iniciar Sesión</h2>
<form method="POST" action="">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.correo.label(class="form-control-label") }}
        {{ form.correo(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.password.label(class="form-control-label") }}
        {{ form.password(class="form-control") }}
    </div>
    <button type="submit" class="btn btn-primary">{{ form.submit() }}</button>
</form>
{% endblock %}
